.root {
  width: 480px;
  background-color: white;
  border-width: 2px;
  border-radius: var(--cardBorderRadius);
  border-color:var(--cardBorderColor);
  box-shadow: var(--cardShadow);
  padding: 20px;
  position: relative;
}

.formItem {
  margin-top: 0px;
  margin-bottom: 15px;
}

.formItemWithMessage {
  margin-top: 0px;
  margin-bottom: 0px;
}

.formItemLabel {
  font-family: 'Arial-BoldMT', sans-serif ;
  font-size: 13px;
  color: var(--battleshipGrey);
  margin-left: 8px;
}

.formItemInput {
  width: 95%;
  font-size: 14px;
  color: var(--ambiBlack);
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid var(--textInputBorderColor);
}

.formItemInputError {
  border: 1px solid var(--ambiErrorColor);
}

input::placeholder {
  color: var(--inputPlaceholderColor);
  font-size: 14px;
}

input[type="text"]:hover{
 border: 1px solid var(--ambiAzureColor);
}

input[type="text"]:focus{
  border: 1px solid var(--ambiAzureColor);
}

input[type="text"]:disabled {
  border: 1px solid var(--textInputBorderColor);
  background: var(--textInputDisabledBackground);
  color: var(--battleshipGrey);
}

.formSubmitButton:disabled {
  border: 1px solid var(--textInputBorderColor);
  color: var(--battleshipGrey);
  background: var(--buttonDisabledBackground);
}

.formControls {
  display: flex;
  justify-content: flex-end;
}

.formSubmitButton {
  font-family: 'Arial-BoldMT', sans-serif ;
  font-size: 12px;
  color: white;
  padding: 5px 50px 5px 50px;
  background-color: var(--ambiAzureColor);
  border-radius: 8px;
}

.title {
  font-family: 'Arial-Black', sans-serif ;
  font-size: 16px;
  color: var(--ambiBlack)
}

.subtitle {
  font-size: 13px;
  color: var(--battleshipGrey);
  margin-bottom: 10px;
}

.ambiResponse {
  display: flex;
  justify-content: space-between;
}

.ambiResponseTitle {
  font-family: 'Arial-BoldMT', sans-serif ;
  font-size: 13px;
  color: var(--battleshipGrey);
  margin-left: 8px;
}

.ambiResponseIcons {
  display: flex;
  justify-content: space-between;
  width: 65px;
  margin-right: 10px;
}

.errorMessage {
  text-align: right;
  font-size: 12px;
  color: var(--ambiErrorColor);
  min-height: 18px;
}

.overlay {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(255, 255, 255, 0.4);
  z-index:9999;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  display: block;
}

.displayNone {
  display: none;
}


.overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.overlayContent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlayText {
  font-family: 'Arial-BoldMT', sans-serif ;
  color: var(--ambiBlack);
  font-size: 16px;
}

.checkMark {
  margin-left: 50px;
  height: 20px;
  width: 28px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
